.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 19vw;
    margin: 5px;
    padding: 3px;
    background-color:rgb(9, 144, 63)
}
#interests {
    border: 2px dashed rgb(120, 20, 40);
    padding: 8px;
}
h2 {
    margin: 0px;
}
header h1 {
    margin-bottom: 0px;;
}
header p {
    margin-top: 0px;
    margin-left: 20px;
    font-style: italic;
}