body {
    background: rgb(0, 0, 60);
    color: rgb(30, 30, 60);
    padding: 1vw;
    font-family: Baskerville, Perpetua, serif;
}
#all-contents {
    max-width: 70vw;
    margin: auto;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    border-radius: 4px 15px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 19vw;
    margin: 5px;
    padding: 3px;
    background-color:rgb(9, 144, 63)
}
.content {
    flex: 1;
    padding: 15px;
}
#interests {
    width: 250px;
    max-width: 52%;
    border: 2px dashed rgb(120, 20, 40);
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}