nav {
    background: rgb(120, 20, 40);
    margin: 0 auto;
    display: flex;
    border-radius: 15px 4px;
    padding: 10px;
    margin-bottom: 20px;
}
#nav-ul {
    padding: 0px;
    display: flex;
    align-items: center;
    list-style-image: none;
}
#nav-ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: large;
}
#nav-ul a {
    color: #ddd;
    text-decoration: none;
}
#nav-ul a:hover {
    color: #fff;
    text-shadow: -2px 2px 2px black;
}
nav h1 a {
    color: #ddd;
    margin: 0;
    text-decoration: none;
}
nav h1 {
    display: flex;
    flex-grow: 1;
}